.App {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  background-color: #EEE;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 8px;
}

.App-link {
  color: #09d3ac;
}

a {
  margin: 8px;
}